.patriarch-details-container {
    display: flex;
    gap: 2rem;
    padding: 8rem 2rem;
}

.patriarch-details-container.search {
    padding: 3rem 2rem;
}

.patriarch-details-container .image {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.patriarch-details-container .image img {
    display: block;
    border-radius: 6px;
    width: 100%;
}

.patriarch-details-container .content {
    flex-basis: 80%;
    text-align: justify;
}

@media (max-width: 767px) {
    .patriarch-details-container {
        flex-direction: column;
    }

    .patriarch-details-container .image img {
        width: 60%;
    }
}
