.main-btn {
    color: #fff;
    background-color: #3b82f6;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.main-btn:hover {
    background-color: #2563eb;
    color: #d9d9d9;
}
