.up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    font-family: Arial, Tahoma, sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.up.show {
    opacity: 1;
}

footer {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

footer a:hover {
    color: #3b82f6;
    border-color: #3b82f6;
}

@media (max-width: 767px) {
    footer .links {
        text-align: center;
        padding-bottom: 20px;
    }
}

footer .social-links {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer .social-links a {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid white;
    color: #fff;
}

@media (max-width: 991px) {
    footer .social-links {
        margin-top: 20px;
    }
}

footer .copyright {
    text-align: center;
    padding-top: 24px;
    font-size: 13px;
    margin-bottom: 0;
}