.navbar {
    direction: rtl;
    position: sticky;
    top: 0;
    z-index: 10;
    padding-bottom: 19px;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}